global:
  scrape_interval:     15s

  external_labels:
    monitor: 'codelab-monitor'

rule_files:
  - 'rules.yml'

scrape_configs:
  - job_name: 'markly-backend'

    scrape_interval: 5s
    metrics_path: /metrics

    static_configs:
      - targets: ['backend:8080']

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']